@charset "utf-8";

/* base */
body{
    font-family:"Noto Sans" "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

/* header */
.main{
    font-size: 50px;
    text-align: center;
}
.main-sgp{
    margin: 0px;
}
.main-hira{
    margin: 0px;
}

.sgp_img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

/* section */

.section{
    text-align: center;
    font-size: 100%;
}


.section-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

/* yuna */
.yuna{
    margin: 0;
    display: flex;
}
.yuna-picture{
    width: 50%;
    height: calc(100% * (4080 / 3020));
    border-radius: 20px;
}

/* hyuga */
.hyuga{
    margin: 0;
    display: flex;
}
.hyuga-picture{
    width: 50%;
    height: calc(100% * (4080 / 3020));
    border-radius: 20px;
    float: right;
}

/* maika */
.maika{
    margin: 0;
    display: flex;
}
.maika-picture{
    width: 50%;
    height: calc(100% * (4080 / 3020));
    border-radius: 20px;
}

/* takuma */
.takuma{
    margin: 0;
    display: flex;
}
.takuma-picture{
    width: 50%;
    height: calc(100% * (4080 / 3020));
    border-radius: 20px;
}


/* link */
.link{
    font-size: 40px;
    display: block;
    text-align: center;
}