@charset "utf-8";

/* base */
body{
    font-family:"Noto Sans" "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

.main{
    font-size: 50px;
    text-align: center;
}
.main-sgp{
    margin: 0px;
}
.main-hira{
    margin: 0px;
}

.sgp_img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.imfomation{
    text-align: center;
}

.link{
    font-size: 50px;
    display: block;
    text-align: center;
}

/* menber */
.menber{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

/* yuna */
.yuna{
    margin: 0;
    display: flex;
}
.yuna-picture{
    width: 50%;
    height: auto;
}
.yuna-figcaption{}